/* header */
#header {
  position: relative;
  padding: 12px 0;
}
  #header-logo {
    width: 120px;
    height: 36px;
  }
  #header h1 {
    text-align: center;
    margin: 0;
    font-size: 0;
  }
  #header .ui-btn {
    margin-top: 12px;
  }

/* subheader */
#sub-header {
  position: relative;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
}
#sub-header .ui-select {
  display: inline-block;
  line-height: 16px;
}

/* main page: bands list */
.bands-list {}
  .bands-list .ui-li .ui-btn-inner {
    min-height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 92px;
  }
    .bands-list .ui-li .ui-btn-inner a {
      line-height: 44px; /* vertically center band name */
    }
    /* checkbox wrapper added by JQM, no way to disable wrapping at the moment */
    .bands-list .ui-li .ui-btn-inner .ui-checkbox {
      position: absolute;
      margin: 0;
      left: 0;
      top: 0;
      bottom: 0;
      width: 35px;
    }
      .bands-list .ui-li .ui-btn-inner .ui-icon-custom-checkbox {
        left: 8px;
        right: auto;
      }
  .bands-list .ui-li-thumb {
    top: 10px;
    left: 38px;
  }

/* custom checkbox */
.ui-checkbox {
  cursor: pointer;
}
.ui-icon-custom-checkbox {
  display: inline-block;
  background-size: 18px 36px;
  background: transparent url(/images/form-check-sprite.png) no-repeat;
  border-radius: 0;
  -moz-border-radius: 0;
}
  .ui-icon-custom-checkbox, .ui-icon-custom-checkbox-off {
    background-position: 0 0;
  }
  .ui-icon-custom-checkbox-on {
    background-position: 0 -18px;
  }
    .ui-icon-custom-checkbox input[type=checkbox] {
      display: none;
    }

/* band pages */
/* sub header */
.band-header p,
.band-header form {
  display: inline;
}
  .band-header .ui-checkbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 45px;
  }
    .band-header .ui-icon-custom-checkbox {
      position: absolute;
      top: 10px;
      right: 15px;
      line-height: 16px;
    }